[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "*"
